@import 'src/style/shared.scss';

.Pages {
  position: relative;
  text-align: center;
  @include z-index(pages);
  // flex: 1;

  // @include media('>=medium') {
  // }
  // @include media('>=large') {
  // }

  & > section {
    // padding-bottom: px-to-rem(40);
    width: 100%;
    opacity: 0;
  }
}
