$layout-map: (
  xsmall: 320,
  small: 414,
  medium: 768,
  large: 1100,
  xlarge: 1920,
  breakpoint-xsmall: 320px,
  breakpoint-small: 414px,
  breakpoint-medium: 768px,
  breakpoint-large: 1100px,
  breakpoint-xlarge: 1920px,
  max-width-large: 1160px
);
