@import 'src/style/shared.scss';

#Preloader {
  @include flex-center;
  @include position-100(fixed);
  flex-flow: column;
  background-color: $black;
  @include z-index(preloader);

  svg.loader-icon {
    animation: infinite-spinning 1s infinite;
    fill: $white;
    width: px-to-rem(50);
    height: px-to-rem(50);
    display: block;
  }

  @keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.Preloader__icon {
  display: block;
  color: var(--main-white);
  margin-bottom: var(--space-md);
}
.Preloader__progress {
  display: block;
  color: var(--main-white);
}
